<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Document</title>
   <!-- 托管了静态资源，那么用户在ejs模板中 / 就表示public目录 -->
   <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
   <div class="main">test</div>
   <div class="main"><%= msg %></div>
</body>
</html>